.d1 {
    background-color: rgb(0, 72, 253);
}

.d2 {
  background-color: rgb(234, 164, 0);
}

.d3 {
  background-color: aqua;
}

.d4 {
    background-color: rgb(255, 0, 110);
}

.d5 {
    background-color: rgb(0, 204, 102);
}

.container {
    font-size: 40px;
    width: 100%;
    background-color: lightgrey;
    display: grid;
    grid-template-columns: 100px 100px 100px;
}